* {
  margin: 0;
  list-style: none;
  text-decoration: none;
}


@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: 'Oswald';
  src: url("../fonts/Oswald/Oswald-Regular.ttf");
}



.mainTitle {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: normal;
  font-size: 43px;
  line-height: 64px;
  color: #434141;
  text-align: center;
}

.titleSpan {
  color: #FF0000;
}

.redBtn {
  background: #FF0000;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 16px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  cursor: pointer;
  outline-style: none;
}

.redBtn:hover {
  background: darkred;
}

.header .formWrapper .form .formBtn {
  padding-left: 20px;
  padding-right: 20px;
}

.header_texts .header_link {
  padding-left: 25px;
  padding-right: 25px;
}

section.two .morePortBlock .morePort {
  padding-left: 25px;
  padding-right: 25px;
}

section.three form .formBtn {
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 52px;
}


.cardBlock:hover img{
  transform: scale(1.2);
}

.cardBlock:hover .cardTitle{
  color: #43414199;
}


.cardBlock:hover .cardDesc{
  color: #91919199;
}


.header{
  height: 100vh;
}
.header_texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 90px;
  height: 100vh;
}

.header_texts .header_title {
  font-family: "Oswald";
  font-weight: 700;
  font-size: 54px;
  color: #434141;
}

.header_texts .header_title span {
  color: #FF0000;
}

.header_texts .header_text {
  font-family: "Roboto";
  font-size: 17px;
  color: #8A8A8A;
  font-weight: 300;
  margin: 20px 0 35px 0;
}


.header_texts .headerLeft {
  width: calc(100%/2);
}

.header .headerRight {
  width: calc(100%/2);
}

.header .headerRight img {
  width: 100%;
}

.header .formWrapper {
  z-index: 999;
  position: fixed;
  height: 100%;
  width: 100%;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F8F8F899;
  top: 0;
  left: 0;
}

.header .formWrapper.opened {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .formWrapper .form {
  padding: 30px 46px 30px 55px;
  background: #fff;
  -webkit-box-shadow: 0px 4px 4px 0px #D3D3D3;
          box-shadow: 0px 4px 4px 0px #D3D3D3;
  border-radius: 6px;
  position: relative;
}

.header .formWrapper .form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header .formWrapper .form .formTitle {
  font-family: 'Oswald';
  font-size: 31px;
  font-style: normal;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 0em;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.header .formWrapper .form .formTitle span {
  color: #FF0000;
}

.header .formWrapper .form .closeForm {
  position: absolute;
  right: 23.5px;
  top: 20px;
  background: none;
  border: none;
  outline-style: none;
  cursor: pointer;
}

.header .formWrapper .form .placeHolder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 7px;
  line-height: 8px;
  text-transform: uppercase;
  color: #919191;
}

.header .formWrapper .form .formItem {
  margin-top: 30px;
}

.header .formWrapper .form input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  border: none;
  border-bottom: 1px solid #434141;
  padding: 3px 70px 4px 0;
  color: #434141;
  font-family: "ProximaNova Regular";
  outline-style: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.header .formWrapper .form .successMsg {
  margin: 26px 0 16px 0;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #434141;
}


.topmenu {
  position: fixed;
  width: 100%;
  z-index: 100;
}

.topest {
  width: 100%;
  background: #000000;
  padding: 12px 0 13px 0;
}

.topestContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.topestContent .address {
  display: inline-block;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
  width: calc(100%/3);
}

.topestContent .logo {
  width: calc(100%/3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.topestContent .phone {
  width: calc(100%/3);
  text-align: right;
  text-transform: uppercase;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
}

.menu {
  width: 100%;
  min-height: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 4px 0px #D6D6D6;
          box-shadow: 0px 4px 4px 0px #D6D6D6;
}

.menu_navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu_navbar .adaptiveLogo {
  display: none;
}

.menu_navbar .menu_btn_bars {
  background: none;
  outline-style: none !important;
  border: none;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  display: none;
  z-index: 2000;
  padding: 0;
}

.menu_navbar .menu_btn_bars .fa {
  color: #fa7c30;
}

.menu_navbar .menu_btn_close {
  background: none;
  outline-style: none !important;
  border: none;
  font-size: 20px;
  cursor: pointer;
  display: none;
  z-index: 2000;
  padding: 0;
}

.menu_navbar .menu_btn_close .fa {
  color: #fa7c30;
}

.menu_navbar .menu_ul {
  width: 531px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu_navbar .menu_ul .main_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  width: 100%;
}

.menu_navbar .menu_ul .main_menu .menu_li {
  position: relative;
  padding: 14px 0;
}

.menu_navbar .menu_ul .main_menu .menu_li a {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  color: #434141;
  text-transform: uppercase;
}

.menu_navbar .menu_ul .main_menu .menu_li a:hover {
  color: #EF3A3A;
  text-decoration: underline;
}

.menu_navbar .menu_ul .parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu_navbar .menu_ul .parent svg {
  margin-left: 4px;
}

.menu_navbar .menu_ul .submenu {
  position: absolute;
  display: none;
  padding: 13px 16px 23px 14px;
  background: #F8F8F8;
  -webkit-box-shadow: 0px 4px 4px 0px #D6D6D6;
          box-shadow: 0px 4px 4px 0px #D6D6D6;
  top: 45px;
  left: -72px;
}

.menu_navbar .menu_ul .submenu li {
  margin: 0 0 5px 0;
  width: 206px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.menu_navbar .menu_ul .submenu li .sublink {
  width: 206px;
  padding: 2px 0;
  font-size: 12px;
  text-align: left;
  font-family: 'Roboto';
  font-weight: 400 !important;
  color: #5A5757;
  text-transform: uppercase;
}

.menu_navbar .menu_ul .submenu.visible {
  display: block;
}

.menu_navbar .menu_ul .header_link {
  display: none;
}

main {
  padding-bottom: 85px;
}

main .card .img {
  background: #F8F8F8;
  height: 174px;
  position: relative;
  overflow: hidden;
}

main .card .img .triangle {
  position: absolute;
  border: 20px solid transparent;
  border-left: 20px solid #FF0101;
  border-top: 20px solid #FF0101;
  opacity: 1;
  z-index: 99;
}

main .card .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
     transition: .5s;
}

main .card .cardTitle {
  font-family: 'Oswald';
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: #434141;
  text-transform: uppercase;
  margin: 13px 0;
}

main .card .cardDesc {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #919191;
  margin-bottom: 20px;
}

main .card .moreLink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main .card .moreLink .more {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  text-transform: uppercase;
  color: #FF0000;
}

main .card .moreLink .more svg {
  margin-left: 5px;
}

main .card .moreLink .more:hover {
  color: darkred;
}

main .card .moreLink .more:hover path {
  stroke: darkred;
}

section.one .oneBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 83px;
  height: 509px;
}

section.one .oneBlock .oneLeft {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: calc(100%/1.8);
  height: 364px;
}

section.one .oneBlock .oneLeft img {
  height: 100%;
  width: 100%;
}

section.one .oneBlock .oneRight {
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: calc(100%/1.5);
  background: #F8F8F8;
  padding: 46px 62px 60px 64px;
}

section.one .oneBlock .oneRight .oneTitle {
  text-align: left;
}


section.one .oneBlock .oneRight .oneDesc {
  margin: 10px 0 11px 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #434141;
}

section.one .oneBlock .oneRight .scores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.one .oneBlock .oneRight .scores .scoreTitle {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 74px;
  color: #434141;
}

section.one .oneBlock .oneRight .scores .scoreDesc {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #434141;
}

section.two {
  padding-bottom: 103px;
}

section.two .twoTitle {
  margin-bottom: 50px;
}


section.two .portItem {
  height: 361px;
  margin-bottom: 29px;
  -webkit-box-shadow: 4px 4px 16px #D6D6D6;
          box-shadow: 4px 4px 16px #D6D6D6;
  overflow: hidden;
  position: relative;
}

section.two .portItem .triangle {
  position: absolute;
  border: 20px solid transparent;
  border-right: 20px solid #FF0101;
  border-bottom: 20px solid #FF0101;
  opacity: 1;
  right: 0;
  bottom: 0;
}

section.two .portItem img {
  width: 100%;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

section.two .morePortBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 20px;
}


section.three {
  padding: 86px 0 100px 0;
  background: url("../images/section3bg.png") no-repeat center center/cover;
}

section.three form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}



section.three form .placeHolder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 7px;
  line-height: 8px;
  text-transform: uppercase;
  color: #919191;
}

section.three form .formItem {
  margin-top: 35px;
}

section.three form input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  border: none;
  border-bottom: 1px solid #434141;
  padding: 3px 70px 4px 0;
  color: #434141;
  font-family: "ProximaNova Regular";
  outline-style: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

section.three form .inputs {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}


section.four {
  padding: 81px 0 98px 0;
}

section.four .fourTitle {
  margin-bottom: 62px;
}


section.four .clientsBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.four .clientsBlock .clientItem {
  width: calc(100%/5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 34px;
}

section.four .swpage {
  margin-top: 50px;
}

section.four .wrSwiper {
  padding-bottom: 20px;
}

section.four .swiper-pagination-bullet-active {
  background: #FF0000;
  border: 2px solid rgba(255, 0, 0, 0.18);
  position: relative;
}

section.four .swiper-pagination-bullet-active::after {
  content: '';
  position: absolute;
  background: rgba(255, 0, 0, 0.18);
  width: 12px;
  height: 12px;
  top: -4px;
  left: -4px;
  border-radius: 50%;
}

footer {
  padding-top: 77px;
  background: #000000;
}

footer .footerLine {
  width: 41px;
  height: 2px;
  background: #FFFFFF;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 7px;
  margin-left: 14px;
}

footer .aboutUs .footerAboutUsTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .aboutUs .footerAboutUsTitle h3 {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 33px;
  color: #FFFFFF;
}

footer .aboutUs p {
  margin: 29px 0 22px 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  color: #FFFFFF;
  width: 178px;
}

footer .aboutCompany .footerAboutCompanyTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .aboutCompany .footerAboutCompanyTitle h3 {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 33px;
  color: #FFFFFF;
}

footer .aboutCompany .companyLinks {
  margin-top: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .aboutCompany .companyLinks a {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  color: #FFFFFF;
  margin-bottom: 6px;
}

footer .aboutCompany .companyLinks a svg {
  margin-right: 11px;
}

footer .aboutCompany .companyLinks .con {
  display: none;
}

footer .contacts .contactsTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 35px;
}

footer .contacts .contactsTitle h3 {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 33px;
  color: #FFFFFF;
}

footer .contacts p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  color: #FFFFFF;
}

footer .contacts .telmail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 18px;
}

footer .contacts .telmail a {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  color: #FFFFFF;
}

footer .contacts .telmail .email {
  margin-left: 16px;
}

footer .footerest {
  padding: 15px 0 16px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.31);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 78px;
}

footer .footerest div {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 20px;
  color: #FFFFFF;
}

@media screen and (min-width: 768) {
  .menu_navbar .menu_ul {
    -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@media screen and (max-width: 992px) {

  section.one .oneBlock .oneLeft {
    display: none;
  }

  section.one .oneBlock .oneRight {
    width: 100%;
  }

  section.three form .inputs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 991px) {
  main .cardBlock {
    margin-bottom: 25px;
  }

  footer .contacts {
    margin: 30px 0;
  }
}

@media screen and (max-width: 767px) {
   .header{
      height: 70vh;
    }  

  .header_texts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 60vh;
  }

  .header_texts .header_title {
    text-align: center;
    font-size: 36px;
    margin-top: 22px;
  }

  .header_texts .header_text {
    width: 280px;
  }

  .header_texts .headerLeft {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header .headerRight {
    display: none;
  }

  .topestContent .address {
    width: calc(100%/2);
    font-size: 10px;
    font-weight: 300;
  }

  .topestContent .logo {
    display: none;
  }

  .topestContent .phone {
    width: calc(100%/2);
    font-size: 10px;
    font-weight: 400;
  }
  .mainTitle{
    font-size: 23px;
  }
  .menu_navbar {
    padding: 8px 0 9px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu_navbar .adaptiveLogo {
    display: block;
  }

  .menu_navbar .menu_btn_bars {
    display: block;
  }

  .menu_navbar .menu_ul {
    position: absolute;
    top: 40px;
    left: 0;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    z-index: -1;
    width: 100%;
    background: #F4F4F4;
    height: 100vh;
  }

  .menu_navbar .menu_ul .main_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu_navbar .menu_ul .main_menu .menu_li {
    padding: 11px 0;
  }

  .menu_navbar .menu_ul .main_menu .menu_li a {
    color: #3b3b3b;
    font-size: 18px;
    font-weight: 700;
  }

  .menu_navbar .menu_ul .parent {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .menu_navbar .menu_ul .parent svg {
    display: none;
  }

  .menu_navbar .menu_ul .submenu {
    position: static;
    display: none;
    background: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 13px 16px 0px 14px;
  }

  .menu_navbar .menu_ul .submenu li {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .menu_navbar .menu_ul .submenu li .sublink {
    text-align: center;
    color: #3B3B3B;
    font-size: 14px;
  }

  .menu_navbar .menu_ul .header_link {
    display: block;
    background: #FF0000;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    padding: 15px 0 16px 0;
    width: 205px;
    border: none;
  }

  main {
    padding-bottom: 71px;
  }

  main .card .img {
    height: 230px;
  }

  section.one .oneBlock {
    padding-bottom: 56px;
    height: 100%;
  }

  section.one .oneBlock .oneLeft {
    display: none;
  }

  section.one .oneBlock .oneRight {
    padding: 33px;
  }

  section.one .oneBlock .oneRight .oneTitle {
    line-height: 54px;
    text-align: center;
  }

  section.one .oneBlock .oneRight .oneDesc {
    font-size: 12px;
    line-height: 19px;
  }

  section.one .oneBlock .oneRight .scores .scoreTitle {
    font-size: 30px;
    line-height: 44px;
  }

  section.one .oneBlock .oneRight .scores .scoreDesc {
    font-size: 12px;
    line-height: 14px;
  }

  section.two {
    padding-bottom: 86px;
  }

  section.two .twoTitle {
    line-height: 54px;
  }

  section.three {
    padding: 73px 0 76px 0;
    background-position: -90px;
  }

  section.three form h3 {
    line-height: 34px;
  }

  section.four {
    padding: 73px 0 80px 0;
  }

  section.four .fourTitle {
    line-height: 34px;
  }

  section.four .clientsBlock .clientItem {
    width: calc(100%/2);
  }

  section.four .clientsBlock .con {
    display: none;
  }

  footer {
    padding-top: 52px;
  }

  footer .footerLine {
    width: 24px;
    height: 1px;
    margin-left: 4px;
  }

  footer .aboutUs {
    margin-bottom: 37px;
  }

  footer .aboutUs .footerAboutUsTitle h3 {
    font-size: 18px;
    line-height: 27px;
  }

  footer .aboutUs p {
    font-size: 12px;
    line-height: 153%;
    margin: 14px 0 17px 0;
  }

  footer .aboutCompany {
    margin-bottom: 37px;
  }

  footer .aboutCompany .footerAboutCompanyTitle h3 {
    font-size: 18px;
    line-height: 27px;
  }

  footer .aboutCompany .companyLinks {
    margin-top: 16px;
  }

  footer .aboutCompany .companyLinks a {
    display: none;
  }

  footer .aboutCompany .companyLinks .con {
    display: block;
    line-height: 15px;
  }

  footer .contacts {
    margin: 0 0 37px 0;
  }

  footer .contacts .contactsTitle {
    margin-bottom: 14px;
  }

  footer .contacts .contactsTitle h3 {
    font-size: 18px;
    line-height: 27px;
  }

  footer .contacts p {
    font-size: 13px;
    line-height: 15px;
  }

  footer .contacts .telmail {
    margin-top: 17px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  footer .contacts .telmail .email {
    margin-left: 0px;
    margin-top: 17px;
  }

  footer .footerest {
    margin-top: 0px;
  }

  footer .footerest div {
    line-height: 153%;
  }
}

@media screen and (max-width: 568px) {
  .header_texts .header_title {
    text-align: center;
    font-size: 26px;
    margin-top: 22px;
  }

  .header_texts .header_text {
    width: 203px;
  }

  .header_texts .header_text br {
    display: none;
  }
}
